<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$']],
          displayMath: [ ['$$', '$$']],
          processEscapes: true,
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        },
        messageStyle: "none",
        showMathMenu: false
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
    <script src="https://github.com/kevinrpb/expandimg.js/releases/download/0.0.2/expandimg-0.0.2.js"></script>
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if page.challenge_url != null %}
        <a href="/">Home</a>
        <a href="{{ page.challenge_url }}">Challenge Post</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
